body{background-image:url(img/pattern.png);}
body{background-color: cornflowerblue;}

#link-bool{color: cornflowerblue;text-decoration: none; }

.gialloevi{background-color: yellow;}

main {background-color: white;}

#logo{width:300px;}

#trblue {background-color: cornflowerblue;}

#tr1{background-color: aquamarine;}

#tr2{background-color: azure;}

#tr3{background-color: aquamarine;}

#pi{color: grey;;}
